body {
    font-family: sans-serif;
    outline: none;
}

::selection {
    background: transparent;
}

a {
    text-decoration: none !important;
}

#sessaoInicial {
    display: block;
    height: 600px;
}

.container-fluid {
    margin-top: 50px;
}

.unfiled {
    padding: 0 !important;
}

.ladoDireito {
    display: block;
    background-color: #302C49;
    height: 600px;
}

.ladoEsquerdo {
    background-color: #fdd163;
    height: 600px;
}

.ladoEsquerdo h1 {
    font-family: sans-serif;
    font-size: 50px;
    color: #302C49;
    margin-left: 15px;
    padding-top: 20px;
}

.p1 {
    font-family: sans-serif;
    color: #bd8d2a;
    padding-left: 15px;
    margin-top: 15px;
}

.p2 {
    font-family: sans-serif;
    color: #302C49;
    padding-left: 15px;
    margin-top: 25px;
}

.ladoEsquerdo button {
    margin-bottom: 15px;
    margin-left: 15px;
}

.listaInicial {
    list-style: none;
}

.listaInicial li {
    display: inline;
    cursor: pointer;
}

.linkSaibaMais {
    background-color: transparent;
    border: 1px solid #FFF6E4;
    color: #bd8d2a;
    font-size: 15px;
    padding: 5px;
    letter-spacing: 1px;
    outline: none;
    margin-left: 15px;
}

.linkSaibaMais:hover {
    background-color: #FFF6E4;
    color: #bd8d2a;
}

.listaInicial {
    float: right;
    color: #FFF6E4;
    margin-top: 20px;
    margin-right: 20px;
}

.listaInicial li {
    margin-left: 35px;
    font-size: 15px;
}

.tituloInicial {
    float: right;
    margin-top: 50px;
}

.tituloInicial h1 {
    font-size: 90px;
    color: #FFF6E4;
    padding-left: 100px;
}

.inserirNome {
    margin-top: 175px;
    color: #FFF6E4;
    text-transform: uppercase;
}

.inserirNome input {
    background-color: rgb(65, 60, 91);
    border: 1px solid rgb(65, 60, 91);
    padding: 5px;
    font-size: 15px;
    width: 70%;
    color: #FFF6E4;
    outline: none;
}

.inserirNome button {
    width: 30%;
    padding: 5px;
    outline: none;
    background-color: transparent;
    border: 1px solid #FFF6E4;
    color: #FFF6E4;
    margin-left: -5px;
}

.icone {
    text-align: center;
    margin-top: 35px;
}

.icone img {
    height: 75px;
}

#manualJogo,
#sobreJogo {
    display: none;
    background-color: #302C49;
    height: 600px;
    color: #FFF6E4;
    text-align: center;
    padding: 50px 0 0 0;
    line-height: 20px;
}

#manualJogo h2,
#sobreJogo h2 {
    font-size: 35px;
}

#manualJogo p,
#sobreJogo p {
    margin-top: 25px;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 25px;
}

#manualJogo .descricao,
#sobreJogo .descricao {
    padding: 0 50px;
}

.voltarTelaInicial {
    margin: 25px 0 0 0;
    text-align: center;
}

.voltarTelaInicial img {
    height: 50px;
    cursor: pointer;
}


/* TELA DIFICULDADE */

#sessaoDificuldade {
    display: none;
    background-color: #302C49;
    height: 600px;
}

.tituloDificuldades {
    font-family: sans-serif;
    font-size: 20px;
    color: #FFF6E4;
}

.tituloDificuldades img {
    position: absolute;
    top: 30px;
    left: 15px;
    height: 50px;
    cursor: pointer;
}

.tituloDificuldades h2 {
    padding-top: 19px;
}

.ladoDireitoDificuldade {
    text-align: center;
}

.selecaoDificuldade {
    list-style: none;
    color: #bd8d2a;
    margin-bottom: 0px;
    margin-top: 55px;
    text-align: center;
    padding: 0 45px 25px 45px;
    border-bottom: solid 1px #FFF6E4;
}

.selecaoDificuldade li {
    padding: 5px;
    font-size: 25px;
    margin-bottom: 20px;
}

.selecaoDificuldade li:hover {
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
}

.btnDificuldade {
    text-align: center;
}

.btnDificuldade button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    color: #bd8d2a;
    font-size: 35px;
    padding: 5px 15px;
    letter-spacing: 1px;
    margin-top: 44px;
}

.btnDificuldade button:hover {
    box-shadow: 0 5px 15px 3px black;
}

.ladoEsquerdoDificuldade {
    background-color: #fdd163;
    height: 600px;
}

.tituloDificuldadesEsquerdo h1 {
    font-size: 50px;
    font-family: sans-serif;
    color: #302C49;
    padding-top: 20px;
}

.ladoEsquerdoDificuldade h2 {
    margin-top: 120px;
    text-transform: uppercase;
    font-size: 25px;
    color: #302C49;
    font-family: sans-serif;
}

.dificuldadeSelecionada,
.dificuldadeSelecionada:hover {
    box-shadow: 0 5px 15px 3px black !important;
}


/* PERGUNTAS */

#sessaoPergunta {
    background-color: #fdd163;
    display: none;
    height: 600px;
    overflow: hidden;
}

.iconePergunta h3 {
    float: right;
}

.iconePontos,
.iconeCreditos {
    position: absolute;
    top: 15px;
    font-size: 25px;
    color: #FFF6E4;
}

.iconePergunta img {
    height: 35px;
    float: left;
    margin-right: 10px;
}

.iconeCreditos img {
    margin-right: 15px;
}

.iconePontos {
    left: 15px;
}

.iconeCreditos {
    left: 100px;
}

.boxNivelDificuldade {
    position: absolute;
    top: 15px;
    right: 0;
    background-color: #302C49;
    padding: 15px 25px;
    color: #FFF6E4;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnAjuda {
    position: absolute;
    top: 85px;
    right: 0;
    background-color: #F3DEA9;
    padding: 10px 20px;
    font-size: 15px;
    color: #302C49;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnAjuda:hover {
    box-shadow: 0 0px 15px 5px black;
    cursor: pointer;
}

.btnTerminarPartida {
    position: absolute;
    bottom: 15px;
    left: 15px;
    border: solid 2px #302C49;
    padding: 5px 15px;
    color: #302C49;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnTerminarPartida:hover {
    cursor: pointer;
    background-color: #302C49;
    color: #fdd163;
}

.sessaoPerguntaRoxa {
    background-color: #302C49;
    height: 465px;
    margin-top: 65px;
    color: #FFF6E4;
}

.sessaoPerguntaRoxa h1 {
    padding-left: 50px;
}

.numeroPergunta {
    position: absolute;
    top: 20px;
    left: 0;
    width: 35px;
    padding: 5px;
    background-color: #F3DEA9;
    color: #494355;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

.listaPerguntas {
    margin-top: 25px;
    padding: 0 50px;
    list-style: none;
}

.listaPerguntas li {
    float: left;
    width: 100%;
    margin-top: 25px;
    font-size: 25px;
    cursor: pointer;
}

.listaPerguntas li:hover,
.repostaSelecionada {
    box-shadow: 0 5px 15px 3px black;
}

.listaPerguntas li span {
    float: left;
    background-color: #fdd163;
    padding: 0 10px;
    color: #302C49;
    font-size: 25px;
}

.listaPerguntas li p {
    float: left;
    margin: 0 0 0 25px;
}

.btnAvancarPergunta {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border: solid 2px #fdd163;
    padding: 5px 15px;
    color: #fdd163;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}

.btnAvancarPergunta:hover {
    cursor: pointer;
    background-color: #fdd163;
    color: #302C49;
}

/* sessao ajuda */

#sessaoAjuda{
    display: none;
    background-color: #302C49;
    height: 600px;
}

.ladoEsquerdoAjuda{
    background-color: #fdd163;
    height: 600px;
}

.tituloAjudaEsquerdo h1{
    font-size: 50px;
    font-family: sans-serif;
    color: #302C49;
    padding-top: 20px;
}

.tituloAjudaEsquerdo h2{
    margin-top: 120px;
    text-transform: uppercase;
    font-size: 25px;
    color: #302C49;
    font-family: sans-serif;
}

.tituloAjuda{
    font-family: sans-serif;
    font-size: 20px;
    color: #FFF6E4;
}

.tituloAjuda h2{
    text-align: center;
    padding-top: 19px;
}

.iconeCreditosAjuda{
    float: right;
    position: absolute;
    top: 39px;
    right: 30px;
}

.iconeCreditosAjuda img{
    height: 30px;
    position: absolute;
    top: 0px;
    right: 45px;
}

.iconeCreditosAjuda span{
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 25px;
}

.returnAjuda img {
    position: absolute;
    top: 30px;
    left: 15px;
    height: 50px;
    cursor: pointer;
}

.selecaoAjuda {
    list-style: none;
    color: #bd8d2a;
    margin-bottom: 0px;
    margin-top: 95px;
    text-align: center;
    padding: 0 45px 25px 45px;
    border-bottom: solid 1px #FFF6E4;
}

.selecaoAjuda li {
    padding: 5px;
    font-size: 25px;
    margin-bottom: 20px;
    position: relative;
}

.selecaoAjuda li:hover {
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
}

.iconeCreditosAjudaIndividual img{
    height: 30px;
    position: absolute;
    top: 8px;
    right: -60px;
}

.iconeCreditosAjudaIndividual span{
    position: absolute;
    top: 10px;
    right: -56px;
    font-size: 20px;
    color: #302C49;
    font-weight: bold;
}